/CMakeFiles/
/CTestTestfile.cmake
/cmake_install.cmake
/craftmanship_training_test[1]_include.cmake
/craftmanship_training_test[1]_tests.cmake
/libdummies.a
/craftmanship_training_test[1]_include.cmake
/craftmanship_training_test
/Makefile
/craftmanship_training_test[1]_include.cmake
/craftmanship_training_test[1]_tests.cmake
/craftmanship_training_test[1]_include.cmake
